apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: quay-operator
  namespace: openshift-operators
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  channel: patch-me-with-kustomization
  installPlanApproval: Automatic
  name: quay-operator
  source: patch-via-overlay
  sourceNamespace: openshift-marketplace
  config:
   nodeSelector:
     node-role.kubernetes.io/infra: ""
   tolerations:
   - key: node-role.kubernetes.io/infra
     effect: NoSchedule
     operator: Exists
